################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release
/Debug/SDLJoy.tlog
/Debug
/Run_Only
/Help/_errorlog.txt
/ToInst/SDLJoy.zip
